<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Authparty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body { padding: 20px 15px 20px 15px; }
    </style>
  </head>
  <body>
    <div class="container-fluid login_frame">
      <div class="row">
        <div class="col-sm-12">
          <%= image_tag(@provider.logo, class: "center-block img-thumbnail") %>
        </div>
        <div class="headline center-block" style="position: relative; top: 15px;">
          <h2><%= @provider.name %></h2>
          <h3>Is requesting to authorize you using your Authparty account. Would you like
           to authorize this action?</h3>
        </div>
      </div>
      <div class="row" style="margin-top: 35px;">
        <div class="col-sm-8 col-sm-offset-2 well well-lg">
          <%= link_to 'Confirm', providers_authenticate_path + '?api_key=' + @provider.api_key,
            :class => 'btn btn-lg btn-primary center-block' %>
        </div>
      </div>
    </div>
  </body>
</html>
