<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Authparty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default no-bottom-margin">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Authparty', root_url, :class => 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li><%= link_to 'Account', account_path(current_user) %></li>
            <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if flash[:success] %>
      <div class="container alerts">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Yay!</strong> <%= flash[:success] %>.
        </div>
      </div>
    <% end %>
    <% if flash[:errors] %>
      <div class="container alerts">
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Whoops! We have some issues</strong>.
          <ul>
            <li><%= flash[:errors] %></li>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login to Authparty">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login to Authparty</h4>
          </div>
          <div class="modal-body">
            <%= form_for(:session, url: login_url, method: 'POST') do |f| %>
              <%= f.label :public_key %>
              <%= f.text_field :public_key, class: 'form-control' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.submit "Login", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
