<div class="container" style="margin-top: 25px;">
  <div class="services col-xs-12 col-sm-6 col-md-7 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Authorized Services</h3>
      </div>
      <div class="panel-body">
        <% if @providers.length > 0 %>
          <% @providers.each do |p| %>
            <div class="col-sm-12 well pull-left" style="padding: 25px;">
              <%= image_tag(p.logo, class: "img-thumbnail logo pull-left") %>
              <%= link_to 'Revoke Access', providers_revoke_path + '?account=' + @account.id.to_s + '&provider=' + p.id.to_s,
                :class => 'btn btn-danger pull-right' %>
              <a class="btn btn-primary pull-right" style="margin-right: 10px;" role="button" data-toggle="collapse" href="#connection<%= p.id %>" aria-expanded="false" aria-controls="connection">Details</a>
              <h3 style="margin-top: 0px; margin-bottom: 0px;"><%= p.name %></h3>
              <h3 style="margin-top: 0px;"><small><%= p.contact_email %></small></h3>
              <div class="panel panel-primary collapse" id="connection<%= p.id %>" style="margin-top: 25px;">
                <div class="panel-heading">
                  <h3 class="panel-title">Connection Info</h3>
                </div>
                <div class="panel-body">
                  <p>
                    <strong>Connected:</strong> <%= @account.connections.find_by(provider_id: p.id).connected_on %></li>
                  </p>
                  <p style="word-wrap: break-word;">
                    <strong>Bearer:</strong> <%= @account.connections.find_by(provider_id: p.id).bearer %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h5>No services authenticated.</h5>
        <% end %>
      </div>
    </div>
  </div>
  <div class="account col-xs-12 col-sm-6 col-md-5 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Authparty Account</h3>
      </div>
      <div class="panel-body">
        <p>
          <h5>My Address</h5>
          <%= @account.public_key %>
        </p>
        <p>
          <h5>Mobile Number</h5>
          <%= @account.mobile_number %>
        </p>
        <p>
          <h5>Address Verification</h5>
          <%= @response %>
        </p>
        <p>
          <% if @account.is_broadcasted == false %>
            <strong>Please Broadcast the following in your wallet:</strong>
            <h5>AUTHPARTY VERIFY-ADDRESS <%= @account.broadcast_code %></h5>
            <strong>Wait for one confirmation then check:</strong>
            <h5><%= link_to 'Confirm Broadcast', '/broadcast?id=' + @account.id.to_s %></h5>
          <% else %>
            <% if @account.verification_code == nil %>
              <%= link_to 'Send SMS Code', '/send_sms?id=' + @account.id.to_s %>
            <% else %>
              <strong>Mobile Confirmed?:</strong>
              <% if @account.is_verified != true %>
              <%= link_to 'Confirm now', '/send_sms?id=' + @account.id.to_s %>
              <% else %>
              <span>Yes</span>
              <% end %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
